@page "/UserTypeTest"
@using Microsoft.Extensions.Localization
@using global::UserTypeTest.Localization
@inject IStringLocalizer<UserTypeTestResource> L
@{
}
<h1>UserTypeTest</h1>
<p>@L["SamplePageMessage"]</p>